
<header>
    <div class="header-container">
        <div class="top-header desktop-only">
            <a href="/pages/donation.html" class="support-cause-btn">SUPPORT A CAUSE</a>
           
            <div class="certification-badge">
                <img src="../assets/images/great_place_to_work.webp" alt="Great Place to Work Certified">
            </div>
            
        </div>
        <div class="main-header">
            <div class="logo">
                <a href="../index.html">
                    <img src="../assets/images/logo.webp" alt="Smile Foundation India">
                </a>
            </div>
            
            <div class="hamburger">
                <i class="fa-solid fa-bars" id="mobileMenuToggle"></i>
            </div>
            <nav class="main-nav">
                <ul>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">ABOUT US</a>
                        <div class="dropdown-content">
                            <a href="/pages/our-story.html">About Us</a>
                            <div class="dropdown-submenu">
                                <a href="#" class="submenu-link">People Behind Smile <span class="submenu-arrow">&#9654;</span></a>
                                <div class="dropdown-content submenu">
                                    <a href="/pages/leadership.html">Leadership</a>
                                    <a href="/pages/mentors.html">Mentors</a>
                                    <a href="/pages/our-people.html">Our People</a>
                                </div>
                            </div>
                            <a href="/pages/reach-presence.html">Reach & Presence</a>
                            <a href="/pages/civic-driven-change.html">Civic Driven Change</a>
                            <a href="/pages/smilestones.html">Smilestones</a>
                            <a href="/pages/good-governance.html">Good Governance</a>
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">OUR WORK</a>
                        <div class="dropdown-content">
                            <a href="/pages/education.html">Education</a>
                            <a href="/pages/health.html">Health</a>
                            <a href="/pages/livelihood.html">Livelihood</a>
                            <a href="/pages/women-empowerment.html">Women Empowerment</a>
                            <a href="/pages/disaster-response.html">Disaster Response</a>
                            <a href="/pages/empowering-grassroots.html">Empowering Grassroots</a>
                            <a href="/pages/privileged-children.html">Privileged Children</a>   
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">CAMPAIGNS</a>
                        <div class="dropdown-content">
                            <a href="/pages/donation.html">Shiksha Na Ruke</a>
                            <a href="/pages/health-cannot-wait.html">Health Cannot Wait</a>
                            <a href="/pages/she-can-fly.html">She Can Fly</a>
                            <a href="/pages/swabhiman.html">Swabhiman</a>
                            <a href="/pages/tayyari-kal-ki.html">Tayyari Kal Ki</a>
                            <a href="/pages/disaster-response.html">Disaster Response</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">GET INVOLVED</a>
                        <div class="dropdown-content">
                            <a href="/pages/individual-support.html">Individual Support</a>
                            <a href="/pages/corporate-partnership.html">Corporate Partnerships</a>
                            <a href="/pages/schools-partnership.html">School Partnerships</a>
                            <a href="/pages/volunteer.html">Volunteer & Internships</a>
                            <a href="/pages/volunteer-registration.html">🎮 Volunteer Registration</a>
                            <a href="/pages/work-with-us.html">Work With Us</a>
                            <a href="/pages/donors-leaderboard.html">Donors Leaderboard</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">MEDIA CENTRE</a>
                        <div class="dropdown-content">
                            <a href="/pages/press-release.html">Press Release</a>
                            <a href="/pages/print-online-media.html">Print/ online media</a>
                            <a href="/pages/electronic-media.html">Electronic Media</a>
                            <a href="/pages/workshops-events.html">Workshop & Events</a>
                            <a href="/pages/eminent-personalities.html">Eminent Personalities</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">RESOURCE CENTER</a>
                        <div class="dropdown-content">
                            <a href="/pages/smile-blog.html">The Smile Blog</a>
                            <a href="/pages/newsletter.html">Newsletter</a>
                            <a href="/pages/annual-report.html">Annual Report</a>
                            <a href="/pages/flims.html">Films</a>
                            <a href="/pages/stories-of-change.html">Stories of Change</a>
                            <a href="/pages/perspective.html">Perspective</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">CONTACT US</a>
                        <div class="dropdown-content">
                            <a href="/pages/contactus.html">Get in touch</a>
                            <a href="/pages/faq.html">FAQs</a>
                        </div>
                    </li>
                </ul>
                <!-- <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div> -->
            </nav>
            
            <div class="mobile-menu-overlay">
                <div class="mobile-menu-header">
                    <div class="mobile-logo">
                        <img src="./assets/images/logo.webp" alt="Smile Foundation India">
                    </div>
                    <i class='bx bxs-x-circle close-mobile-menu'></i>
                </div>
                <ul class="mobile-nav-list">
                    <li><a href="/pages/about-us.html">ABOUT US</a></li>
                    <li><a href="/pages/education.html">OUR WORK</a></li>
                    <li><a href="/pages/shiksha-na-ruke.html">CAMPAIGNS</a></li>
                    <li><a href="/pages/individual-support.html">GET INVOLVED</a></li>
                    <li><a href="/pages/press-release.html">MEDIA CENTRE</a></li>
                    <li><a href="/pages/smile-blog.html">RESOURCE CENTER</a></li>
                    <li><a href="/pages/contactus.html">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
